.chest {
    margin: 10px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 200px;
    text-align: center;
} .chest:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2) inset;
}

.chestForm {
    width: 100%;
    text-align: center;
}