.teamComp {
    width: 51%;
    padding: 2%;
}

.traits,
.teamChamp {
    width: 96%;
    padding: 0 2%;
}
.teamChamp {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1053px) {
    .teamComp {
        width: 100%;
    }
}