.smallItemList {
    width: 40%;
} .smallItemList h1 {
    margin: 10px;
}

@media screen and (max-width: 1053px) {
    .smallItemList {
        width: 100%;
    }
    .teamComp {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .smallItemList {
        width: 100%;
    }
    .teamComp {
        width: 100%;
    }
}