.quest {
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    width: 260px;
} .quest:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2) inset;
}

.charReward {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}