.formButton {
    background-color: transparent;
    border: 1px solid #f0ebd8;
    color: #f0ebd8;
    padding: 2% 5%;
    font-size: 16px;
    margin: 5%;
    transition: .2s;
    outline: none;
}

.formButton:focus,
.formButton:hover {
    background-color: #f0ebd8;
    color: #0d1321;
}