.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 5%;
    width: 90%;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

  .modal > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .modal > div div {
    animation: lifting 1s;
  }

  .modal div form {
    margin: 5% 30%;
    border: none;
    text-align: center;
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes lifting {
    0% {
      z-index: 32;
      background-size: 400%;
      background-position: 0%;
      background-repeat: no-repeat;
      background-image: linear-gradient(45deg, transparent 25%, rgba(255,255,255,0.4) 50%, transparent 75%);
    }
    100% {
      z-index: 32;
      background-size: 400%;
      background-position: 200%;
      background-repeat: no-repeat;
      background-image: linear-gradient(45deg, transparent 25%, rgba(255,255,255,0.4) 50%, transparent 75%);
    }
  }